<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="The best local restaurants and takeaways are here to deliver. Order on Deliveroo today!"
    />
    <meta name="robots" content="index,follow" />
    <link rel="stylesheet" href="../styles/style.css" />
    <link rel="icon" href="../icons/favicon.svg" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap"
      rel="stylesheet"
    />
    <title>Deliveroo Clone - Food Delivery</title>
  </head>
  <body>
    <header class="second-head">
      <nav>
        <div class="logo">
          <img src="../icons/logo-icon.svg" alt="logo" />
          <h2>deliveroo</h2>
        </div>
        <div class="nav-links">
          <button class="cart-btn">
            <img class="cart-icon" src="../icons/cart-icon.svg" alt="" /> £0.00
          </button>
          <button class="enter-btn">
            <img src="../icons/home-icon.svg" alt="" /> Sign up or log in
          </button>
          <button class="menu-btn">
            <img class="menu-icon" src="../icons/menu-icon.svg" alt="" /> Menu
          </button>
        </div>
      </nav>
    </header>
    <section class="top">
      <img src="../images/kfc2.jpg" alt="kfc promo\" />
      <div class="rest-info">
        <h1>KFC</h1>
        <ul>
          <li>Fried Chicken</li>
          <li>Chicken</li>
          <li>American</li>
        </ul>
        <ul>
          <li>£0.99 delivery</li>
          <li>closes at 22.30</li>
          <li>£7.00 minimum</li>
        </ul>
      </div>
    </section>
    <section class="menu-preview">
      <ul>
        <li><a href="#">Burgers</a></li>
        <li><a href="#">Sides</a></li>
        <li><a href="#">Snacks</a></li>
        <li><a href="#">Drinks</a></li>
      </ul>
    </section>
    <section class="main-menu">
      <div class="all-menu">
        <div class="meal-title">
          <h1>Burgers</h1>
          <p>
            Go classic with our Original Recipe burger or spice things up with
            Zinger.
          </p>
        </div>
        <div class="menu-cards">
          <div class="card">
            <div class="card-info">
              <h3>Fillet Burger</h3>
              <p>
                Original Recipe Fillet Burger made with 100% chicken breast.
                With a choice of either regular fries or side & a drink. The
                people's favourite.
              </p>
              <p>£5.49</p>
            </div>
            <img src="../images/kfc-fillet-burger.jpg" alt="" />
          </div>
          <div class="card">
            <div class="card-info">
              <h3>Zinger Burger</h3>
              <p>
                Spicy Zinger Fillet Burger made with 100% chicken breast. Zingy
                and delicious.
              </p>
              <p>£5.49</p>
            </div>
            <img src="../images/kfc-zinger-burger.jfif" alt="" />
          </div>
          <div class="card">
            <div class="card-info">
              <h3>Zinger Stacker Burger</h3>
              <p>Double the spice with 2 spicy Zinger Fillets.</p>
              <p>£6.69</p>
            </div>
            <img src="../images/kfc-Zinger_Stacker_Burger.jpg" alt="" />
          </div>
          
        </div>
      </div>
      <div class="your-order">
          <img src="../images/dunkin.jfif" alt="">
      </div>
    </section>
  </body>
</html>
