<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="The best local restaurants and takeaways are here to deliver. Order on Deliveroo today!"
    />
    <meta name="robots" content="index,follow" />
    <link rel="stylesheet" href="../styles/style.css" />
    <link rel="icon" href="../icons/favicon.svg" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap"
      rel="stylesheet"
    />
    <title>Deliveroo Clone - Food Delivery</title>
  </head>
  <body>
      <header class='second-head'>
        <nav>
          <div class="logo">
            <img src="../icons/logo-icon.svg" alt="logo" />
            <h2>deliveroo</h2>
          </div>
          <div class="nav-links">
            <button class="cart-btn">
              <img class="cart-icon" src="../icons/cart-icon.svg" alt="" /> £0.00
            </button>
            <button class="enter-btn">
              <img src="../icons/home-icon.svg" alt="" /> Sign up or log in
            </button>
            <button class="menu-btn">
              <img class="menu-icon" src="../icons/menu-icon.svg" alt="" /> Menu
            </button>
          </div>
        </nav>
      </header>
      <section class="top">
          <img src="../images/kfc2.jpg" alt="kfc promo\">
          <div class="rest-info">
              <h1>KFC</h1>
              <ul>
                  <li>Fried Chicken</li>
                  <li>Chicken</li>
                  <li>American</li>
              </ul>
              <ul>
                  <li>£0.99 delivery</li>
                  <li>closes at 22.30</li>
                  <li>£7.00 minimum</li>
              </ul>
          </div>
      </section>
  </body>
</html>
