<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="The best local restaurants and takeaways are here to deliver. Order on Deliveroo today!"
    />
    <meta name="robots" content="index,follow" />
    <link rel="stylesheet" href="../styles/style.css" />
    <link rel="icon" href="../icons/favicon.svg" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap"
      rel="stylesheet"
    />
    <title>Deliveroo Clone - Food Delivery</title>
  </head>
  <body>
    <header class="second-head">
      <nav>
        <div class="logo">
          <img src="../icons/logo-icon.svg" alt="logo" />
          <h2>deliveroo</h2>
        </div>
        <div class="nav-links">
          <button class="cart-btn">
            <img class="cart-icon" src="../icons/cart-icon.svg" alt="" /> £0.00
          </button>
          <button class="enter-btn">
            <img src="../icons/home-icon.svg" alt="" /> Sign up or log in
          </button>
          <button class="menu-btn">
            <img class="menu-icon" src="../icons/menu-icon.svg" alt="" /> Menu
          </button>
        </div>
      </nav>
    </header>

    <section class="top">
      <img src="../images/kfc2.jpg" alt="kfc promo\" />
      <div class="rest-info">
        <h1>KFC</h1>
        <ul>
          <li>Fried Chicken</li>
          <li>Chicken</li>
          <li>American</li>
        </ul>
        <ul>
          <li>£0.99 delivery</li>
          <li>closes at 22.30</li>
          <li>£7.00 minimum</li>
        </ul>
      </div>
    </section>

    <section class="menu-preview">
      <ul>
        <li><a href="#burgers">Burgers</a></li>
        <li><a href="#sides">Sides</a></li>
        <li><a href="#snacks">Snacks</a></li>
        <li><a href="#drinks">Drinks</a></li>
      </ul>
    </section>

    <section class="main-menu">
      <div class="all-menu">
        <div class="item-menu" id="burgers">
          <div class="meal-title">
            <h1>Burgers</h1>
            <p>
              Go classic with our Original Recipe burger or spice things up with
              Zinger.
            </p>
          </div>
          <div class="menu-cards">
            <div class="card">
              <div class="card-info">
                <h3>Fillet Burger</h3>
                <p class="cut-text">
                  Original Recipe Fillet Burger made with 100% chicken breast.
                  With a choice of either regular fries or side & a drink. The
                  people's favourite.
                </p>
                <p>£5.49</p>
              </div>
              <img src="../images/kfc-fillet-burger.jpg" alt="" />
            </div>
            <div class="card">
              <div class="card-info">
                <h3>Zinger Burger</h3>
                <p class="cut-text">
                  Spicy Zinger Fillet Burger made with 100% chicken breast.
                  Zingy and delicious.
                </p>
                <p>£5.49</p>
              </div>
              <img src="../images/kfc-zinger-burger.jfif" alt="" />
            </div>
            <div class="card">
              <div class="card-info">
                <h3>Zinger Stacker Burger</h3>
                <p class="cut-text">
                  Double the spice with 2 spicy Zinger Fillets.
                </p>
                <p class="price">£6.69</p>
              </div>
              <img src="../images/kfc-Zinger_Stacker_Burger.jpg" alt="" />
            </div>
          </div>
        </div>
        <div class="item-menu" id="sides">
          <div class="meal-title">
            <h1>Sides</h1>
            <p>
              Why not add something extra to your meal. Including our famous
              gravy.
            </p>
          </div>
          <div class="menu-cards">
            <div class="card">
              <div class="card-info">
                <h3>Regular Fries</h3>
                <p class="cut-text">
                  Regular golden French fries. Unsalted. So you can tailor them
                  to your taste.
                </p>
                <p>£1.99</p>
              </div>
              <img src="../images/kfc-fries.jfif" alt="" />
            </div>
            <div class="card">
              <div class="card-info">
                <h3>Regular Coleslaw</h3>
                <p class="cut-text">
                  Freshly prepared with just the right amount of zesty crunch.
                </p>
                <p>£1.99</p>
              </div>
              <img src="../images/KFC-Coleslaw.jpg" alt="" />
            </div>
            <div class="card">
              <div class="card-info">
                <h3>Corn Cob</h3>
                <p class="cut-text">
                  A golden cob of delicious corn. Sweet and simple.
                </p>
                <p class="price">£1.99</p>
              </div>
              <img src="../images/kfc-corn.jfif" alt="" />
            </div>
          </div>
        </div>
        <div class="item-menu" id="snacks">
          <div class="meal-title">
            <h1>Snacks</h1>
            <p>
              Small but mighty. Enjoy our snacks on their own or add them to
              your order.
            </p>
          </div>
          <div class="menu-cards">
            <div class="card">
              <div class="card-info">
                <h3>Hot Wings</h3>
                <p class="cut-text">2 Hot Wings. The perfect spicy snack.</p>
                <p>£1.29</p>
              </div>
              <img src="../images/kfc-wings.jpg" alt="" />
            </div>
            <div class="card">
              <div class="card-info">
                <h3>Chocolate Chip Cookie</h3>
                <p class="cut-text">One classic chocolate chip cookie.</p>
                <p>£1.29</p>
              </div>
              <img src="../images/kfc-cookie.jfif" alt="" />
            </div>
            <div class="card">
              <div class="card-info">
                <h3>Mini Fillet</h3>
                <p class="cut-text">Our 100% chicken breast Mini Fillet.</p>
                <p class="price">£1.99</p>
              </div>
              <img src="../images/kfc-minifillet.jpeg" alt="" />
            </div>
          </div>
        </div>
        <div class="item-menu" id="drinks">
          <div class="meal-title">
            <h1>Drinks</h1>
            <p>Quench your thirst with our refreshing drinks selection.</p>
          </div>
          <div class="menu-cards">
            <div class="card">
              <div class="card-info">
                <h3>Pepsi MAX 1.5 L Bottle</h3>
                <p class="cut-text">
                  MAXIMUM TASTE, NO SUGAR. A bold and refreshing fizzy drink.
                  Delivered chilled.
                </p>
                <p>£2.99</p>
              </div>
              <img src="../images/kfc-pepsi.jpg" alt="" />
            </div>
            <div class="card">
              <div class="card-info">
                <h3>Tropicana Orange</h3>
                <p class="cut-text">
                  Smooth 100% pure pressed Tropicana orange juice for enjoyment
                  throughout the day.
                </p>
                <p>£1.89</p>
              </div>
              <img src="../images/kfc-tropicana.png" alt="" />
            </div>
            <div class="card">
              <div class="card-info">
                <h3>Still Water 500ml</h3>
                <p class="cut-text">
                  Crisp refreshing taste. Delivered chilled.
                </p>
                <p class="price">£1.49</p>
              </div>
              <img src="../images/kfc-water.jpg" alt="" />
            </div>
          </div>
        </div>
      </div>

      <aside>
      <div class="your-order">
          <img src="../icons/empty-cart.svg" alt="empty cart" />
          <p>Your basket is empty</p>
          <button  type="button" disabled>Go to checkout</button>
        </div>
      </aside>

    </section>

    <footer>
      <div class="footer-wrap">
        <ul>
          <li>
            <a href="#"><img src="../icons/instagram 1.svg" alt="" /></a>
          </li>
          <li>
            <a href="#"><img src="../icons/twitter 1.svg" alt="" /></a>
          </li>
          <li>
            <a href="#"><img src="../icons/youtube-symbol 1.svg" alt="" /></a>
          </li>
        </ul>
        <p>&copy; 2022 Deliveroo</p>
      </div>
    </footer>
  </body>
</html>
