* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Montserrat", sans-serif;
}
button {
  font-family: "Montserrat", sans-serif;
}

.jumbotron {
  background-image: url(../images/background.svg);
  min-height: 50vh;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

h1{
    font-size: $header1;
}

h2{
    font-size: $header2;
}

p{
    font-size: $normal;
}