.second-head {
  background: $main-color-green;
  width: 100%;
  nav {
    width: 70%;
    margin: auto;
  }
}

.top {
  display: flex;
  min-height: 40vh;
  width: 90%;
  margin: auto;
  margin-top: 5rem;
  img {
    height: 40rem;
    width: 50rem;
    padding: 2rem;
    border-radius: 4rem;
    box-shadow: 6px 6px 20px rgba(122, 122, 122, 0.2);
  }
}

.rest-info {
  margin: 2rem;
  min-width: 25%;
  ul {
    display: flex;
    justify-content: space-between;
    font-size: $normal;
    padding: 0.5rem;
    color: $grey-color;
  }
  h1 {
    margin-bottom: 2rem;
  }
}

.menu-preview {
  min-height: 8vh;
  width: 100%;
  margin: 1rem auto;
  box-shadow: 0px 5px 0px rgba(196, 186, 186, 0.3),
    0px -5px 0px rgba(196, 186, 186, 0.1);

  ul {
    display: flex;
    list-style: none;
    justify-content: space-around;
    align-items: center;
    padding: 2.5rem 1rem;
    width: 50%;
  }
  a {
    text-decoration: none;
    font-size: $normal;
    color: $main-color-green;
    font-weight: 600;
  }
}

.main-menu {
  width: 90%;
  margin: 2rem auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
  .all-menu {
    flex: 3;
    .meal-title {
      h1 {
        padding: 2.5rem 0rem;
      }
      p {
        color: $grey-color;
        padding-bottom: 1rem;
      }
    }
    .menu-cards {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;
      .card {
        display: flex;
        width: 30%;
        height: 14rem;
        margin-top: 2rem;
        border: 1px solid rgba(255, 255, 255, 0.8);
        border-radius: 2rem;
        box-shadow: 1px 1px 2px 1px rgba(117, 117, 117, 0.46);
        cursor: pointer;
        img {
          width: 10rem;
          height: 10rem;
          object-fit: cover;
          padding: 1rem;
        }
        .card-info {
          padding: 1rem;
          .cut-text {
            width: 22rem;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 3;
            overflow: hidden;
            margin: 1rem 0rem;
          }
        }
      }
    }
  }
  aside {
    margin-left: 5rem;
    align-self: flex-start;
    flex: 1;
    position: sticky;
    top: 0%;
    .your-order {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 3rem;
      margin: 2rem;
      width: 90%;
      border: 1px solid rgba(255, 255, 255, 0.8);
      border-radius: 2rem;
      box-shadow: 1px 1px 2px 1px rgba(117, 117, 117, 0.46);
      p{
          color: $grey-color;
          padding: 1rem;
      }
      button{
          font-size: 2rem;
          font-weight: 600;
          padding: 1rem 2rem;
          width: 100%;
          color: rgb(167, 161, 161);
          cursor: not-allowed;
      }
    }
  }
}
